header {
background-color: hsl(66, 30%, 26%, 0.6);
height: 100px;
top: 0px;
position: sticky;

}
#nombre {
    display:inline-block;
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-image: url("../img/teclado.jpg");
    background-size: 100%;
    padding-left: 100px;
    color: white;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

footer{
    background-color: #bec092;
   
}

main li{
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
    background-color: #0058aa;
    margin-top: 10px;
    font-weight: bold;
    list-style: disc;
    font-family: Arial, Helvetica, sans-serif;
    
}
main li a{
    color: aliceblue;
    text-decoration: none;
}

main li:hover{

    background-color: rgb(161, 14, 167);
    padding-left: 14px;
    transition: all .2s;
}

main h2 {
    border-bottom: 3px solid white;
    
}

#curso{
    display: inline-block;
    text-align: right;
    right: 100px;
   

    position: absolute;
}

#datos {
    display: inline-block;
}
