header {
background-color: #54582f;
height: 100px;
position: relative;

}
#nombre {
    display:inline-block;
    color: white;
    position: absolute;
    text-align: center;
  

}

footer{
    background-color: #bec092;
}

#curso{
    display: inline-block;
    text-align: right;
    right: 20px;

    position: absolute;
}

#datos {
    display: inline-block;
}