@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Doodle+Shadow&family=Rubik+Maps&display=swap');
.slogan
{
    font-family: 'Rubik Doodle Shadow', Arial, Helvetica, sans-serif;

    font-size: 30px;
    letter-spacing: 0.4px;
    word-spacing: -0.8px;
    color: #2f0041;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-right: 3em;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, -16px 6px 0px rgba(0,0,0,0);
}

body{
    background-color: #f5f5f5;
   
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}



main{
background-image: url(../img/fondoPrincipal.webp);
background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

article a{
    text-decoration: none;
}

.novedadestitulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.81);
    font-family: 'Rubik Maps', Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(255, 187, 0);
    border-bottom: 4px solid rgb(255, 208, 0);

}
.tituloproducto{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.81);
    font-family: 'Rubik Maps', Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(255, 187, 0);
    border-bottom: 4px solid rgb(255, 208, 0);

}

.precio{
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    color: rgb(255, 187, 0);
    text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.81);
}


.novedades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    box-shadow: 0 0 1em #000000;

background: #f3f3f3;
background: radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
background: -webkit-radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
background: -moz-radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
}
.articulo{
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    box-shadow: 0 0 1em #000000;

background: #f3f3f3;
background: radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
background: -webkit-radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
background: -moz-radial-gradient(circle farthest-corner at center center, #f3f3f3 0%, #c0c0c0 80%);
}

.card img{
    width: auto;
    max-height: 200px;
    min-height: 200px;
   
}
.imagenproducto{
    width: auto;
    max-width: 40%;
    height: auto;
   
}
.radius{
    border-radius: 1em;

}
header{
    background-color: lightgray;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

footer{
    background-color: lightgray;
}

.bi:hover{
    transition: 0.3s;
    color: #000000;
}